server:
  port: 80
spring:
  cloud:
    gateway:
      routes:
      - id: mcloud-demo
        uri: lb://mcloud-demo
        predicates:
        - Path=/mcloud-demo/**
        filters:
        - RewritePath=/mcloud-demo/(?<segment>.*), /$\{segment}
  zipkin:
    sender:
      type: web
management:
  endpoints:
    web:
      exposure:
        include: gateway
logging:
  level:
    root: debug